## Coleta e Análise Exploratória  dos dados do google maps.
 * Perfil **Mateus**

### Bibliotecas utilizadas:
  * Pandas
  * Matplotlib
  * Seaborn
  * Json : leitura arquivo com extensão __.JSON__
  * Numpy
> ___Bibliotecas:___

In [37]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import json
import numpy as np
from datetime import datetime

### Local padrão de dados do meu drive.

In [38]:
file_path = '/content/drive/MyDrive/Projeto-Final/Data_Mateus/google_maps/location_stories'

Lista de nomes de arquivos no meu drive com dados de localização.

In [39]:
lista_names_files = [ 
                      '2017_APRIL.json', 
                      '2017_AUGUST.json', 
                      '2017_DECEMBER.json', 
                      '2017_FEBRUARY.json', 
                      '2017_JANUARY.json', 
                      '2017_JULY.json', 
                      '2017_JUNE.json', 
                      '2017_MARCH.json', 
                      '2017_MAY.json', 
                      '2017_NOVEMBER.json', 
                      '2017_OCTOBER.json', 
                      '2017_SEPTEMBER.json', 
                      '2018_DECEMBER.json', 
                      '2018_FEBRUARY.json', 
                      '2018_JANUARY.json', 
                      '2018_JUNE.json', 
                      '2018_MARCH.json',
                      '2019_APRIL.json',
                      '2019_AUGUST.json',
                      '2019_DECEMBER.json',
                      '2019_FEBRUARY.json',
                      '2019_JANUARY.json', 
                      '2019_JULY.json', 
                      '2019_JUNE.json', 
                      '2019_MARCH.json',
                      '2019_MAY.json',
                      '2019_NOVEMBER.json', 
                      '2019_OCTOBER.json', 
                      '2019_SEPTEMBER.json',
                      '2020_APRIL.json',
                      '2020_AUGUST.json',
                      '2020_DECEMBER.json', 
                      '2020_JULY.json', 
                      '2020_JUNE.json',
                      '2020_MARCH.json', 
                      '2020_MAY.json', 
                      '2020_NOVEMBER.json',
                      '2020_OCTOBER.json',
                      '2020_SEPTEMBER.json',
                      '2021_APRIL.json', 
                      '2021_FEBRUARY.json',
                      '2021_JANUARY.json', 
                      '2021_JULY.json', 
                      '2021_JUNE.json', 
                      '2021_MARCH.json',
                      '2021_MAY.json'
]
file_size = len(lista_names_files)

In [40]:
#Criação de uma dicionario para guardar valores de cada registro presente no arquivo json.
def cria_dicionario_mapeado():
      data_mapeado = {
                      'Tipo_Deslocamento':[],
                      'Distancia': [],
                      'Hora_Fim_Rota': [],
                      'Latitude_Fim': [],
                      'Longitude_Fim': [],
                      'Hora_Inicio': [],
                      'Latitude_Inicio': [],
                      'Longitude_Inicio': []
    } 
      return data_mapeado

In [41]:
def open_arquivo_json(json_file):
     with open(json_file) as file:  
        data_story_location = json.load(file)
     file.close()
     return data_story_location

In [ ]:
def add_ponto_na_latitude_longitude(x):
  try:
      x = list(str(x))
      x.insert(3,'.')
      return ''.join(x)
  except:
      return x

In [42]:
def clear_data(location_json,data_deslocamento):
   for i,regi in enumerate(location_json['timelineObjects']):
   
     if 'activitySegment' in location_json['timelineObjects'][i].keys():
        if ('activityType' in  location_json['timelineObjects'][i]['activitySegment'].keys()):
            data_deslocamento['Tipo_Deslocamento'].append(location_json['timelineObjects'][i]['activitySegment']['activityType'])
        else:
            data_deslocamento['Tipo_Deslocamento'].append(np.NaN)

        if ('distance' in location_json['timelineObjects'][i]['activitySegment'].keys()):
            data_deslocamento['Distancia'].append(location_json['timelineObjects'][i]['activitySegment']['distance'])
        else:
            data_deslocamento['Distancia'].append(0)
        
        if ('duration' in location_json['timelineObjects'][i]['activitySegment'].keys()):
            data_deslocamento['Hora_Fim_Rota'].append(location_json['timelineObjects'][i]['activitySegment']['duration']['endTimestampMs'])
        else:
            data_deslocamento['Hora_Fim_Rota'].append(np.NaN)
        
        if ('endLocation' in location_json['timelineObjects'][i]['activitySegment'].keys()):
            data_deslocamento['Latitude_Fim'].append(location_json['timelineObjects'][i]['activitySegment']['endLocation']['latitudeE7'])
            data_deslocamento['Longitude_Fim'].append(location_json['timelineObjects'][i]['activitySegment']['endLocation']['longitudeE7'])
        else:
            data_deslocamento['Latitude_Fim'].append(np.NaN)
            data_deslocamento['Longitude_Fim'].append(np.NaN)
        
        if ('startTimestampMs' in location_json['timelineObjects'][i]['activitySegment']['duration'].keys()): 
            data_deslocamento['Hora_Inicio'].append(location_json['timelineObjects'][i]['activitySegment']['duration']['startTimestampMs'])
        else:
            data_deslocamento['Hora_Inicio'].append(np.NaN)
       
        if ('startLocation' in location_json['timelineObjects'][i]['activitySegment'].keys()):
            data_deslocamento['Latitude_Inicio'].append(location_json['timelineObjects'][i]['activitySegment'][ 'startLocation']['latitudeE7'])
            data_deslocamento['Longitude_Inicio'].append(location_json['timelineObjects'][i]['activitySegment'][ 'startLocation']['longitudeE7'])
        else:
            data_deslocamento['Latitude_Inicio'].append(np.NaN)
            data_deslocamento['Longitude_Inicio'].append(np.NaN)
   return data_deslocamento

In [43]:
#leitura um a um dos arquivos

cont = 0
nome_ar = ''
lista_dataframe = []
while cont < file_size:
   dicionario = cria_dicionario_mapeado()
   nome_ar =f'{file_path}/{lista_names_files[cont]}'
   data_story_location = open_arquivo_json(nome_ar)

   lista_dataframe.append(pd.DataFrame(clear_data(data_story_location,dicionario)))
   
   cont+=1

CPU times: user 934 ms, sys: 53 ms, total: 987 ms
Wall time: 1.1 s

In [44]:
stories_location = pd.concat(lista_dataframe,ignore_index=True)

In [45]:
stories_location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8839 entries, 0 to 8838
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Tipo_Deslocamento  8839 non-null   object
 1   Distancia_km/h     8839 non-null   float64
 2   Hora_Fim_Rota      8839 non-null   object
 3   Latitude_Fim       8839 non-null   float64
 4   Longitude_Fim      8839 non-null   float64
 5   Hora_Inicio        8839 non-null   object
 6   Latitude_Inicio    8839 non-null   float64
 7   Longitude_Inicio   8839 non-null   float64
dtypes: float64(5), object(3)
memory usage: 552.6+ KB

In [46]:
stories_location.tail(10)

     Tipo_Deslocamento  Distancia_km/h  ... Latitude_Inicio  Longitude_Inicio
8829      MOTORCYCLING          1414.0  ...    -229152718.0      -431996598.0
8830      MOTORCYCLING          5206.0  ...    -229123814.0      -431863739.0
8831      MOTORCYCLING           690.0  ...    -229388805.0      -431765226.0
8832      MOTORCYCLING          1033.0  ...    -229394946.0      -431783498.0
8833      MOTORCYCLING          6072.0  ...    -229403920.0      -431762019.0
8834      MOTORCYCLING          1770.0  ...    -229767067.0      -431959240.0
8835      MOTORCYCLING           531.0  ...    -229705690.0      -431846406.0
8836      MOTORCYCLING           896.0  ...    -229706642.0      -431899794.0
8837      MOTORCYCLING          1952.0  ...    -229683351.0      -431834198.0
8838      MOTORCYCLING          5080.0  ...    -229567105.0      -431761540.0

[10 rows x 8 columns]

In [47]:
#vericando se á dado duplicado
any(stories_location.duplicated())

False

In [48]:
stories_location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8839 entries, 0 to 8838
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Tipo_Deslocamento  8839 non-null   object
 1   Distancia_km/h     8839 non-null   float64
 2   Hora_Fim_Rota      8839 non-null   object
 3   Latitude_Fim       8839 non-null   float64
 4   Longitude_Fim      8839 non-null   float64
 5   Hora_Inicio        8839 non-null   object
 6   Latitude_Inicio    8839 non-null   float64
 7   Longitude_Inicio   8839 non-null   float64
dtypes: float64(5), object(3)
memory usage: 552.6+ KB

In [49]:
#Convertendo timestamp para tipo inteiro
stories_location['Hora_Fim_Rota'] = stories_location['Hora_Fim_Rota'].astype('int64')

In [50]:
#Convertendo timestamp para tipo inteiro
stories_location['Hora_Inicio'] = stories_location['Hora_Inicio'].astype('int64')

In [51]:
#Convertendo para datatime
stories_location['Hora_Fim_Rota'] = pd.to_datetime(stories_location['Hora_Fim_Rota'],unit = 'ms')
stories_location['Hora_Inicio'] = pd.to_datetime(stories_location['Hora_Inicio'],unit = 'ms')

In [52]:
#convertendo coluna latitude e longitude de inicios para inteiro
stories_location['Latitude_Inicio'] = stories_location['Latitude_Inicio'].astype('int64')
stories_location['Longitude_Inicio'] = stories_location['Longitude_Inicio'].astype('int64')

In [53]:
#convertendo coluna latitude e longitude de fim para inteiro
stories_location['Latitude_Fim'] = stories_location['Latitude_Fim'].astype('int64')
stories_location['Longitude_Fim'] = stories_location['Longitude_Fim'].astype('int64')

In [54]:
#convertendo distancia para int
stories_location['Distancia'] = stories_location['Distancia'].astype('int64')

In [55]:
stories_location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8839 entries, 0 to 8838
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Tipo_Deslocamento  8839 non-null   object
 1   Distancia_km/h     8839 non-null   int64
 2   Hora_Fim_Rota      8839 non-null   datetime64[ns]
 3   Latitude_Fim       8839 non-null   int64
 4   Longitude_Fim      8839 non-null   int64
 5   Hora_Inicio        8839 non-null   datetime64[ns]
 6   Latitude_Inicio    8839 non-null   int64
 7   Longitude_Inicio   8839 non-null   int64
dtypes: datetime64[ns](2), int64(5), object(1)
memory usage: 552.6+ KB

In [56]:
stories_location.tail(10)

     Tipo_Deslocamento  Distancia_km/h  ... Latitude_Inicio  Longitude_Inicio
8829      MOTORCYCLING            1414  ...      -229152718        -431996598
8830      MOTORCYCLING            5206  ...      -229123814        -431863739
8831      MOTORCYCLING             690  ...      -229388805        -431765226
8832      MOTORCYCLING            1033  ...      -229394946        -431783498
8833      MOTORCYCLING            6072  ...      -229403920        -431762019
8834      MOTORCYCLING            1770  ...      -229767067        -431959240
8835      MOTORCYCLING             531  ...      -229705690        -431846406
8836      MOTORCYCLING             896  ...      -229706642        -431899794
8837      MOTORCYCLING            1952  ...      -229683351        -431834198
8838      MOTORCYCLING            5080  ...      -229567105        -431761540

[10 rows x 8 columns]

In [57]:
#Separando hora da coluna data completa  de inicio do trajeto
stories_location['Hora_Chegada'] = stories_location['Hora_Fim_Rota'].dt.time

In [58]:
#Separando data da coluna data completa de fim de trajeto
stories_location['Data_Chegada'] = stories_location['Hora_Fim_Rota'].dt.date

In [59]:
#Separando data da coluna data completa de inicio de trajeto
stories_location['Data_Inicio'] = stories_location['Hora_Inicio'].dt.date

In [60]:
#Separando ano  da coluna data completa de inicio de trajeto
stories_location['Ano'] = stories_location['Hora_Inicio'].dt.year

In [61]:
#Separando hora da coluna data completa  de inicio do trajeto
stories_location['Hora_Inicio'] = stories_location['Hora_Inicio'].dt.time

In [62]:
#Separando ano  da coluna data completa de fim de trajeto
stories_location['Ano'] = stories_location['Hora_Fim_Rota'].dt.year

In [63]:
stories_location.head()

      Tipo_Deslocamento  Distancia_km/h  ... Data_Inicio   Ano
0  IN_PASSENGER_VEHICLE             975  ...  2017-04-24  2017
1  IN_PASSENGER_VEHICLE             165  ...  2017-04-24  2017
2               WALKING             509  ...  2017-04-25  2017
3  IN_PASSENGER_VEHICLE            1953  ...  2017-04-25  2017
4  IN_PASSENGER_VEHICLE            4611  ...  2017-04-25  2017

[5 rows x 12 columns]

In [64]:
 #Apaganda a coluna que tinha data completa, pois separei em colunas data e horas, e até mesmo o ano.
 stories_location.drop(['Hora_Fim_Rota'],axis = 1,inplace=True)

In [65]:
#stories_location['Tempo_Duração/min'] =  
pd.Timedelta(200000000000)

Timedelta('0 days 00:03:20')

In [66]:
stories_location.tail()

     Tipo_Deslocamento  Distancia_km/h  ...  Data_Inicio   Ano
8834      MOTORCYCLING            1770  ...   2021-05-31  2021
8835      MOTORCYCLING             531  ...   2021-05-31  2021
8836      MOTORCYCLING             896  ...   2021-05-31  2021
8837      MOTORCYCLING            1952  ...   2021-05-31  2021
8838      MOTORCYCLING            5080  ...   2021-05-31  2021

[5 rows x 11 columns]

In [67]:
def transforma_em_minutos(x):
 
   try:
      time_ = datetime.strptime(str(x),'%H:%M:%S.%f').time() 
   except:
      time_ = datetime.strptime(str(x),'%H:%M:%S').time()  
   total_minutos  = abs(time_.hour * 60 + time_.minute + time_.second/60)
                                                                                    
   return  total_minutos

In [68]:
#Aplicando uma nova coluna com dados de duração entre inicio do trajeto e o fim.
stories_location['Duracao_Trajeto_Em_Minutos']  = ( round(abs(stories_location['Hora_Inicio']
                                                .apply(transforma_em_minutos) 
                                            -  stories_location['Hora_Chegada']
                                                .apply(transforma_em_minutos)),2)                                                                                        
                                                                   
)

In [69]:
stories_location.head(10)

      Tipo_Deslocamento  Distancia_km/h  ...   Ano  Duracao_Trajeto_Em_Minutos
0  IN_PASSENGER_VEHICLE             975  ...  2017                      171.03
1  IN_PASSENGER_VEHICLE             165  ...  2017                        6.70
2               WALKING             509  ...  2017                       16.20
3  IN_PASSENGER_VEHICLE            1953  ...  2017                       57.98
4  IN_PASSENGER_VEHICLE            4611  ...  2017                       47.33
5  IN_PASSENGER_VEHICLE             212  ...  2017                        8.93
6  IN_PASSENGER_VEHICLE             349  ...  2017                        8.60
7  IN_PASSENGER_VEHICLE             183  ...  2017                        8.48
8  IN_PASSENGER_VEHICLE            1830  ...  2017                       63.05
9  IN_PASSENGER_VEHICLE            1300  ...  2017                       26.80

[10 rows x 12 columns]

In [74]:
quantidade_km_por_tipo_deslocamento = stories_location.groupby(['Tipo_Deslocamento','Ano'],as_index=False)['Distancia'].median()

In [75]:
stories_location.to_csv('/content/drive/MyDrive/Projeto-Final/Data_Mateus/historico_maps.csv',index  = False)

  Tipo_Deslocamento   Ano  Distancia_km/h
0           CYCLING  2017          1543.0
1           CYCLING  2018          1865.0
2           CYCLING  2019          2238.0
3           CYCLING  2020          1112.0
4           CYCLING  2021           888.0