In [ ]:
import pandas as pd
from datetime import datetime

hist0 = pd.read_json('/content/drive/MyDrive/projeto_final/spotfy_data/StreamingHistory0.json')
hist1 = pd.read_json('/content/drive/MyDrive/projeto_final/spotfy_data/StreamingHistory1.json')
hist2 = pd.read_json('/content/drive/MyDrive/projeto_final/spotfy_data/StreamingHistory2.json')

In [ ]:
#Concatenação dos arquivos com as mesmas tabelas
frames=[hist0, hist1, hist2]
df = pd.concat(frames)
df.head()

            endTime  ... msPlayed
0  2020-07-17 19:41  ...    67100
1  2020-07-18 23:29  ...    15623
2  2020-07-18 23:31  ...   155798
3  2020-07-18 23:33  ...   129782
4  2020-07-18 23:35  ...   102750

[5 rows x 4 columns]

In [ ]:
# informações sobre os tipos de dados por colunas 
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21530 entries, 0 to 1529
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   endTime     21530 non-null  object
 1   artistName  21530 non-null  object
 2   trackName   21530 non-null  object
 3   msPlayed    21530 non-null  int64
dtypes: int64(1), object(3)
memory usage: 841.0+ KB

In [ ]:
df['endTime'] = pd.to_datetime(df['endTime'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21530 entries, 0 to 1529
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   endTime     21530 non-null  datetime64[ns]
 1   artistName  21530 non-null  object
 2   trackName   21530 non-null  object
 3   msPlayed    21530 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 841.0+ KB

In [ ]:
#Separando data e hora em duas colunas 
df["endTime"] = pd.to_datetime(df["endTime"])
df["day"] = df["endTime"].dt.strftime("%Y-%m-%d")
df["hour"] = df["endTime"].dt.strftime("%H:%M:%S")

In [ ]:
df.rename(columns={'artistName':'Nome_Artista','trackName': 'Nome_Musica','msPlayed':'Tocada/ms','day':'Dia',	'hour':'Hora'}, inplace=True)

In [ ]:
df.head()

              endTime   Nome_Artista  ...         Dia      Hora
0 2020-07-17 19:41:00  Gloria Groove  ...  2020-07-17  19:41:00
1 2020-07-18 23:29:00  Gloria Groove  ...  2020-07-18  23:29:00
2 2020-07-18 23:31:00          Vitão  ...  2020-07-18  23:31:00
3 2020-07-18 23:33:00    Luísa Sonza  ...  2020-07-18  23:33:00
4 2020-07-18 23:35:00   Jason Derulo  ...  2020-07-18  23:35:00

[5 rows x 6 columns]

In [ ]:
#Eliminando a coluna anterior com data e hora juntos
spotify = df.drop(columns='endTime')
spotify.head()

    Nome_Artista  ...      Hora
0  Gloria Groove  ...  19:41:00
1  Gloria Groove  ...  23:29:00
2          Vitão  ...  23:31:00
3    Luísa Sonza  ...  23:33:00
4   Jason Derulo  ...  23:35:00

[5 rows x 5 columns]

In [ ]:
#Top 5 artistas mais ouvidos
top_5_artistas = spotify.groupby(['Nome_Artista'])['Tocada/ms'].sum().sort_values(ascending=False)
top_5_artistas

Nome_Artista
Beyoncé                       71751881
Sia                           52880400
Destiny's Child               47854739
Amir                          46737733
IZA                           46011397
                                ...
Lily Allen                           0
Dino Grandi e Italia Canta           0
Julie Fowlis                         0
Lea Michele                          0
Musicallestelle                      0
Name: Tocada/ms, Length: 1369, dtype: int64

In [ ]:
#Top 5 músicas mais ouvidas
top_5_musicas = spotify.groupby(['Nome_Musica'])['Tocada/ms'].sum().sort_values(ascending=False)
top_5_musicas

Nome_Musica
BROWN SKIN GIRL                                   20089455
Hostage                                           16680898
Into the Unknown - Panic! At The Disco Version    15708901
J'ai cherché                                      13760296
Latch - Acoustic                                  12860987
                                                    ...
Touch The Sky - From "Brave"/Soundtrack                  0
Separei                                                  0
Can't Take That Away (Mariah's Theme)                    0
In Love With Another Man                                 0
Here Comes Elastigirl - Elastigirl's Theme               0
Name: Tocada/ms, Length: 3136, dtype: int64

In [ ]:
# Tempo total em milissegundos 
tempo_total = spotify['Tocada/ms'].sum()
tempo_total

1235917906

In [ ]:
#tempo total em horas 
tempo_total = spotify['Tocada/ms'].sum()
tempo_total = tempo_total/1000
tempo_total = tempo_total/3600
print(f'tempo total: {tempo_total} horas')

tempo total: 343.31052944444446 horas

In [ ]:
# Dias em que mais ouvi música
dias = spotify.groupby(['Dia'])
dias.sum().head()

            Tocada/ms
Dia
2020-07-17      67100
2020-07-18    1585954
2020-07-19    2091202
2020-07-20    9479001
2020-07-21    7821850

In [ ]:
spotify

        Nome_Artista  ...      Hora
0      Gloria Groove  ...  19:41:00
1      Gloria Groove  ...  23:29:00
2              Vitão  ...  23:31:00
3        Luísa Sonza  ...  23:33:00
4       Jason Derulo  ...  23:35:00
...              ...  ...       ...
1525       Amel Bent  ...  12:37:00
1526            Amir  ...  12:40:00
1527  Fréro Delavega  ...  12:43:00
1528  Joyce Jonathan  ...  12:47:00
1529           Dadju  ...  12:49:00

[21530 rows x 5 columns]

In [ ]:
df.to_csv('spotfy.csv', index=0)